body {
	background: #eedef7;
}

#intro{
	text-align: center;
    padding: 15px;
    font-size: 25px;
}
#prompt{
	text-align: center;
	padding: 10px;
}
#checkboxes{
	padding-left: 45%;
	font-size: 15px;
}

#check{
	padding-left: 45%;
	padding-top: 15px;
}
button{
	background-color: #d398e6;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}